<nav class="sidebar bg-gradient">

    <ul class="nav flex-column px-2">
        <li class="nav-item mb-2">
            <a class="nav-link text-white d-flex align-items-center" href="/">
                <span>🏠 Home</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white d-flex align-items-center" href="/presupuestos">
               <span>📄 Presupuestos</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white d-flex align-items-center" href="/clientes">
               <span>👤 Clientes</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white d-flex align-items-center" href="/obras">
               <span>🔨 Obras</span>
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-white d-flex align-items-center" href="/items">
               <span>📋 Ítems</span>
            </a>
        </li>
    </ul>
</nav>





@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
