<nav class="sidebar bg-gradient">
  
    <ul class="nav flex-column px-2">
        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="/">
                <i class="bi bi-house-door me-2"></i> Home
            </NavLink>
        </li>

        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="/presupuestos">
                <i class="bi bi-file-earmark-text me-2"></i> Presupuestos
            </NavLink>
        </li>

        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="/clientes">
                <i class="bi bi-person-lines-fill me-2"></i> Clientes
            </NavLink>
        </li>

        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="/obras">
                <i class="bi bi-hammer me-2"></i> Obras
            </NavLink>
        </li>

        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="/items">
                <i class="bi bi-list-check me-2"></i> Ítems de Presupuesto
            </NavLink>
        </li>
    </ul>
</nav>





@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
